transitions
transform3d(z, y, z)

/* поставть по цетру блока элемент с абсолютным позиционированием */
.section {
    width: 100%;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
}

background: linear-gradient(to bottom, #f38181, #fce38a);

max-width

display: inline-block;
vertical-align: middle;